material-menu-button {
	display: inline-block;
	position: relative;

	> div {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	paper-button {
		iron-icon {
			margin-left: 16px;
		}
	}

	@media only screen and (max-width: 1023px) {
		paper-button {
			.paper-menu-button-caption {
				max-width: 128px;
			}
		}
	}

	@media only screen and (max-width: 799px) {
		paper-button {
			.paper-menu-button-caption {
				max-width: 96px;
			}
		}
	}

	@media only screen and (max-width: 639px) {
		paper-button {
			.paper-menu-button-caption {
				max-width: 64px;
			}
		}
	}
}
