material-menu-button {
	display: flex;

	material-button {
		.material-button__caption {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.material-icons {
			margin-left: 8px;
		}
	}
}
