collapse-section {
	display: block;

	.collapse-section__header {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 4px;

		&.collapse-section__header--justified {
			justify-content: space-between;
		}

		&.collapse-section__header--center {
			justify-content: center;
		}

		i.material-icons {
			margin-right: 4px;
		}
	}

	.collapse-section__title {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	material-icon-button {
		transition: transform 175ms cubic-bezier(0, 0, 0.2, 1);

		&.flip {
			transform: rotate(180deg);
		}
	}
}

html[dir="rtl"] collapse-section {
	.collapse-section__header {
		i.material-icons {
			margin-right: 0;
			margin-left: 4px;
		}
	}
}
