collapse-section {
	display: block;

	.collapse-section-header {
		display: flex;
		flex-direction: row;
		align-items: center;

		&.justified {
			justify-content: space-between;
		}

		&.center {
			justify-content: center;
		}
	}

	.collapse-section-title {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	material-icon-button {
		transition: transform 0.25s ease-out;

		&.flip {
			transform: rotate(180deg);
		}
	}
}
